[versions]
activity-compose = "1.8.0"
ktx = "1.12.0"
kotlin-lang = "1.9.20"
kotlin-parcelize = "1.9.10"
android-gradle-plugin = "8.1.1"
core-ktx = "1.9.0"
app-compat = "1.6.1"
lifecycle-runtime-ktx = "2.6.2"
material = "1.10.0"
lifecycle-extensions = "2.2.0"
junit = "4.13.2"
junit-ext = "1.1.5"
junit-espresso = "3.5.1"
hilt = "2.48"
data-store = "1.0.0"
retrofit = "2.9.0"
okHttp = "5.0.0-alpha.2"
coil = "2.5.0"

[libraries]
activity-compose = { module = "androidx.activity:activity-compose", version.ref = "activity-compose" }
android-gradle-plugin = { group = "com.android", name = "application", version.ref = "android-gradle-plugin" }
core-ktx = { module = "androidx.core:core-ktx", version.ref = "ktx" }
lifecycle-runtime-ktx = { module = "androidx.lifecycle:lifecycle-runtime-ktx", version.ref = "lifecycle-runtime-ktx" }
material = { module = "com.google.android.material:material", version.ref = "material" }
lifecycle-extensions = { module = "androidx.lifecycle:lifecycle-extensions", version.ref = "lifecycle-extensions" }
junit = { module = "junit:junit", version.ref = "junit" }
junit-ext = { module = "androidx.test.ext:junit", version.ref = "junit-ext" }
junit-espresso = { module = "androidx.test.espresso:espresso-core", version.ref = "junit-espresso" }
hilt = { module = "com.google.dagger:hilt-android", version.ref = "hilt" }
ksp-hilt = { module = "com.google.dagger:hilt-compiler", version.ref = "hilt" }
datastore = { group = "androidx.datstore", name = "data-store-preferences", version.ref = "data-store" }
datastore-core = { group = "androidx.datstore", name = "data-store-preferences-core", version.ref = "data-store" }

[bundles]
common = ["hilt"]

[plugins]
android-application = { id = "com.android.application", version.ref = "android-gradle-plugin" }
android-library = { id = "com.android.library", version.ref = "android-gradle-plugin" }
kotlin-lang = { id = "org.jetbrains.kotlin.android", version.ref = "kotlin-lang" }
hilt = { id = "com.google.dagger.hilt.android", version.ref = "hilt" }
ksp = { id = "com.google.devtools.ksp", version = "1.9.0-1.0.12" }